/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ee5f06;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-height: 60px;
}

.search-bar {
    margin-top: 10px;
}

.search-bar input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

main {
    padding: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.image-item {
    position: relative;
    width: 2000px;
    height: 200px;
    
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.image-item:hover img {
    opacity: 0.5; /* Dim the image on hover */
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.image-item:hover .title {
    opacity: 1;
    transform: scale(1.1); /* Slightly enlarge the title on hover */
    animation: blink 0.6s linear infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
