/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ee5f06;
    position: relative;
}

header h1 {
    margin: 10px 0;
}

.logo {
    width: 100px;
    height: auto;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.button-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 2px solid #ee5f06;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button img {
    width: 100%;
    height: auto;
    display: block;
}

.title {
    padding: 10px;
    text-align: center;
    background-color: #f4f4f4;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .button {
        width: 100%;
    }
    .title {
        font-size: 14px;
    }
}